<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
    </startup>
	<appSettings>
		<add key="token" value="136cc57c856e0346ceaa7f8bf397f5457243490a"/>
		<add key="baseUrl" value="https://api.imgur.com/3/"/>
	</appSettings>
</configuration>